.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('../images/nature2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0%;
    right: 0%;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(to right,#2c991e 0%,#3ccdbb 0%,#8045df 100%);
}